* {
	margin: 0;
	padding: 0;
}

body {font-family: 'Quicksand', sans-serif !important;}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
.wrapper {
	width: 70%;
	min-height: 100%;
	margin: auto;
}
.header_bg {
	background: url(images/Homepage/header_bg_and_device.png) no-repeat;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 870px;
}
.header {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header a {
		text-decoration: none;
}
.header .wrapper {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.header h2 {
	color: #fff;
	font-weight: bold;
	line-height: 90px;
}
.logo {
	color: white;
	background-color: #0f7bff;
	position: absolute;
	left: 145px;
	width: 175px;
	height: 90px;
	border-radius: 0 0 25px 25px;
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	line-height: 85px;
}
.header .wrapper {
	position: relative;
}

.menu {
	display: flex;
	justify-content: flex-end;

}

.menu a{
 	color: #ababab;
	font-weight: bold;
	padding-left: 45px;

}
.menu li:last-child {
	padding-right: 50px;
	
}
.menu a:hover {
	color: #0f7bff;
	cursor: pointer;
}
.signUp {
	width: 165px;
	height: 50px;
	background-color: #0f7bff;
	color: white;
	border-radius: 20%/50%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	border: none;
}

.signUp:hover, .signUp_m-menu:hover, .button:hover {
	background-color: #fff;
	color: #0f7bff;
	cursor: pointer;
	border: 1px solid #ababab;
	transition: 0.3s;
}
.fa-bars {
	display: none;
	font-size: 2em;
}

	.m-menu {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	background-color: #f5fcfd;
	font-size: 2.5em;
	line-height: 2.5;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 0;
	height: 100vh;
	transition: 0.2s;
	transform: translateX(100%);
	}
	.m-menu_active {
		transform: translateX(0);
	}
	.close_menu {
		position: fixed;
		right: 0;
		top: 0;
		font-size: 2em;
		font-weight: bold;
		line-height: 1;
		cursor: pointer;
	}

/*.wrapper {
	width: 61%;
	min-height: 100%;
	margin: auto;
}


.header {
	height: 100vh;
	width: 100%;
	background: url(images/Homepage/header_bg_and_device.png),
	#0f7bff;

	background-size: contain;
	cover;

	background-repeat: no-repeat;
}

.logo {
	color: white;
	background-color: #0f7bff;
	position: absolute;
	left: 145px;
	width: 175px;
	height: 90px;
	border-radius: 0 0 25px 25px;
	font-size: 32px;
	text-align: center;
	vertical-align: middle;
	line-height: 85px;
}

.menu {
	position: absolute;
	right: 280px;
}

.menu li {
	list-style-type: none;
	display: inline-block;
	color: #c1c5c5;
	line-height: 95px;
}

.menu li:not(:last-child) {
	margin-right: 35px;
}

.menu li:hover {
	color: #0f7bff;
	cursor: pointer;
}

.links {
	display: none;
	position: absolute;
	top: 55px;
	right: 10px;
	background-color: #0063dd;
	color: white;
	width: 120px;
	height: 33px;
	border-radius: 45px;
	line-height: 33px;
	font-weight: bold;
	text-align: center;
}
.links:hover {
	cursor: pointer;
	border-radius: 0px;
	transition: 0.3s;
}
.dropdown_menu {
	position: relative;
}
.dropdown_menu:hover .submenu {
	opacity: 1;
	transition: 0.2s all;
	top: 100%;
}
.links:hover ~ .elements {
	display: none;
}
.submenu {
	position: absolute;
	top: 9999em;
	width: 100%;
	opacity: 0;
	overflow: hidden;
}
.submenu a {
	background-color: white;
	padding: 1px 10px;
	display: block;
	transition: 0.5s all;
	border-bottom: 1px solid #666;
}
.submenu a:hover {
	background-color: #666;
	padding: 2px 0 10px 2px;
}

.links:hover {
	opacity: 1;
}

.links .menuList {
	opacity: 0;
}*/

.button {
	position: absolute;
	border-radius: 60px;
	text-align: center;
	background-color: #fff;
	color: #0f7bff;
	font-weight: bold;
	width: 158px;
	height: 43px;
	line-height: 39px;
	border: 2px solid #0f7bff;
	cursor: pointer;
}

.signUp {
	right: 40px;
	width: 160px;
	top: 20px;
	height: 45px;
	background-color: #0063dd;
	line-height: 41px;
	color: #fff;
}

.signUp:hover {
	background-color: #fff;
	color: #0063dd;
}

.elements {
/*	position: absolute;
	top: 100px;
	margin-left: 19.5%;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
}

.elements > h3, 
.elements > p {
	max-width: 655px;
	text-align: center;
	/*margin: auto;*/

}
.elements > p {
	/*padding: 20px 50px 20px;*/
	line-height: 1.7em;
}
.call_to_action {
	width: 100%;
}
.download, .freeTrial {
	display: inline-block;
	/*top: 150px;*/
	
}

.download:hover, .freeTrial:hover {
	background-color: #0f7bff;
	color: white;
}

.download {
	right: 50%;
	margin-right: 10px;
}
.freeTrial {
	left: 50%;
	margin-left: 10px;
}
.features {
	height: 600px;
	background-color: #f5fcfd;
	width: 100%;
}
.flexContainer {
	display: flex;
	height: 400px;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

}
.flexElement {
	
	width: 32%;
	height: 250px;
	flex-shrink: 0;
	margin-right: 5%;
	text-align: center;
	background-color: #fff;
}

.flexElement:nth-child(2) {
	margin-top: 10%;
}
.flexElement:last-child {
	margin-right: 0;
}
.flexElement > img {
	margin-top: 10%;
		width: 70px;
}

.flexElement > h5 {
	margin-top: 5%;
}

.flexElement > p {
	margin: 5%;
	font-size: 1vw;
	color: #ababab;
}

.about_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about_block img {
	width: 50%;
}
.about_content {
	display: flex;
	flex-direction: column;
	width: 45%;
}
.about_content p{
	color: #ababab;
}
.about_content a {
	width: 100px;
}
.about_content a {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.fa-arrow-right {

}
.how_work_bg {
	height: 650px;
	background-color: #f5fcfd;
	width: 100%;
}
.how_work {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}
.how_work_img {
	display: flex;
	justify-content: space-around;
	position: relative;
}
.how_work_img hr {
	top: 50%;
	width: 75%;
}
.how_work_img img {
	z-index: 2;
}

.how_work h4 {
	display: flex;
	align-items: center;
	height: 12vh;
	background: url(images/Homepage/headline_how_work_bg.png) no-repeat center center;
}
.how_work p {
	margin-top: 1.5rem;
	text-align: center;
	width: 65%;
}
.how_work_main {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-around;
}
.how_work_main hr{
	margin: auto;
	position: absolute;
	text-align: center;
	z-index: 1;
}
.how_work_content {
	z-index: 2;
	display: flex;
	align-items: center;
	text-align: center;
}
.how_work_content p{
	color: #ababab;
	width: 100%;
}
.pricing {
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.price_description {
	display: flex;
	width: 35%;
	flex-direction: column;
}
.price_description h3 {
	margin-bottom: 35px;
}
.pricing_button {
	display: flex;
	overflow: hidden;
	border-radius: 28px;
	border: 2px solid #0f7bff;
	margin-top: 65px;
}
.rate_btn {
	width: 50%;
	height: 45px;
	border: none;
	color: #0f7bff;
	background-color: #fff;
	font-weight: bold;
}
.rate_btn:first-child {
	border-right: 1px solid #0f7bff;
}
.rate_btn:last-child {
	border-left: 1px solid #0f7bff;
}
.rate_btn:hover {
	background-color: #0f7bff;
	color: #fff;
	transition: 0.2s;
}

.kind_of_plan {
	width: 250px;
	height: 400px;
	box-shadow: 0 0 3vh rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kind_plan_img1 {
	background: url(images/Homepage/kind_of_plan_logo1.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: 50% 50%;
	width: 100%;
	height: 70px;
	padding: 10px 0;
}
.kind_plan_img2 {
	background: url(images/Homepage/kind_of_plan_logo2.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: 50% 50%;
	width: 100%;
	height: 70px;
	padding: 10px 0;
}

.kind_of_plan hr{
	margin: 5px 0;
}
.kind_of_plan h5 {
	margin-top: 10px;
}
.kind_of_plan .button {
	position: static;
}
.kind_of_plan .button:hover{
	background-color: #0f7bff;
	color: white;
}
.kind_of_plan p {
	line-height: 1.75em;
	text-align: center;
	color: #ababab;
	margin-bottom: 0;
}
.kind_of_plan .costs {
	font-size: 1.5em;
	font-weight: bold;
	color: #0f7bff ;
	margin-bottom: 15px;
}
.testimonials {
	height: 510px;
	background: #f5fcfd;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

.testimonials img {
	display: block;
	height: 100%;
	width: 500px;
	margin-right: 100px;
}
.testimonials_content {
	width: 60%;
	display: flex;
	flex-direction: column;
}
.testimonials_content h4 {
	margin-bottom: 50px;
}

.reviews_container {
	display: flex;
	flex-direction: row;
	align-items: center;

}

/*.review_block {
	background-color: #fff;
	width: 25%;
	margin-left: 5%;
	padding: 2.5%;
}*/
.review_block {
    background-color: #fff;
    width: 300px;
    height: 155px;
    margin-left: 5%;
    padding: 30px;
    font-size: 0.75em;
}
.review_block:first-child {
	margin-left: 0;
}

.customer_name {
	font-weight: bold;
	height: 1.5em;
}
.customer_name > div:first-child {
	float: left;
}
.customer_name > div:last-child {
	float: right;
}
.customer_name i {
	color: #0f7bff;
}
.review_block .description, .review_block p {
	color: #ababab;
}
.review_block .description {
	font-size: 0.8em;
}
.review_block p {
	padding-top: 10px;
}

.review_turn {
	margin-top: 30px;
	display: flex;

}

.review_turn  div{
	width: 25px;
	height: 10px;
	border-radius: 30%;
	background-color: #ababab;
	margin-right: 10px;
}

.review_turn  div:hover{
	background-color: #0f7bff;
	width: 30px;
}
.latest_news {
	height: 960px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.latest_news p {
	color: #ababab;
}
.news_header {
	margin-top: 150px;
	text-align: center;
}
.news_header h4{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	background: url(images/Homepage/headline_how_work_bg.png) no-repeat center center;
}
.headline_describing {
	width: 750px;
	margin-bottom: 70px;
}
.news_content {
	display: flex;
	justify-content: space-between;
}
.main_news {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-right: 30px;
}
.main_news h5 {
	color: #0f7bff;
	margin-bottom: 30px;
}

.main_preview {
	height: 190px;
    width: 380px;	
    margin-bottom: 40px;
}
.secondary_news {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.preview {
	width: 165px;
	height: 120px;
}
.secondary_content {
	display: flex;
	justify-content: space-around;
}
.article {
	display: flex;
	flex-direction: column;
	width: 60%;
}
.article p {
	margin-bottom: 35px;
}
.headline_article {
	font-weight: bold;
}
.free_trial_bg {
	height: 335px;
	background-color: #f5fcfd;
}
.free_trial {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.free_trial_text p {
	color: #ababab;
}
.get_started_button {
	width: 260px;
	height: 70px;
	background-color: #0f7bff;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	border-radius: 2.5%/7.5%;
	border: none;
}
.get_started_button:hover {
	border: 1px solid #ababab;
	background-color: #fff;
	color: #0f7bff;
	transition: 0.2s;
}
.subscribe_block_bg {
	height: 390px;
	background-color: #0f7bff;
}
.subscribe_block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.subscribe_block h2{
	color: #fff;
}
.subscribe_form {
	height: 65px;
	width: 600px;
	border-radius: 5%/50%;
	border: 1px solid #fff;
	overflow: hidden;
	display: flex;
	font-size: 1.25em;
}
.subscribe_form input {
	width: 400px;
	height: 65px;
	background-color: #0f7bff;
	border: none;
	color: white;
	padding-left: 20px;
}

input::-webkit-input-placeholder { color: white; }
.subscribe_button {
	background-color: #fff;
	height: 65px;
	width: 200px;
	color: #0f7bff;
	font-weight: bold;
	text-align: center;
	line-height: 65px;
	border: none;
}

.copyrights_bg {
	height: 100px;
	background-color: #0f7bff;
	border-top: 1px solid #fff;
	color: white;
	position: relative;
}
.copyrights_bg a{
	color: white;
}
.copyrights {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyrights_links a{
	padding-right: 20px;
	cursor: pointer;
}
.copyrights_text, .copyrights_links a, .social i {
	color: #d8d8d8;
	text-decoration: none;
}

.social i{
	cursor: pointer;
	margin-right: 5px;
}
.copyrights_links a:hover, .social i:hover {
	color: #fff;
}

.scroll {
 position:absolute;
 right: 100px;
 cursor: pointer
}

@media (min-width: 1400px) {
	.s_u_btn_style {
		margin-left: 250px;
	}

}
@media (max-width: 1600px) {
	.flexElement {
		width: 300px;
		height: 240px;
	}

}
@media (max-width: 1399px) {
	.s_u_btn_style {
		margin-right: 120px;
	}
}
@media (max-width: 1200px) {
	.s_u_btn_style {
		margin-right: 20px;
	}
	.menu li:last-child {
     padding-right: 0; 
	}
}
@media (max-width: 1100px) {
	.logo {
    left: 105px;
}
}
@media (min-width: 1001px) {
	.mobile-wrapper {
		width: 100%;
		display: flex;
	justify-content: space-between;
	height: 100%;
	}
	.s_u_btn_style {
		display: flex;
		align-items: center;
	}
}
@media (max-width: 1000px) {
	.header .wrapper, .signUp {
		display: none;
	}
	.mobile-wrapper {
	width: 90%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;

	}
	.fa-bars {
		display: block;
		color: #0f7bff;
		cursor: pointer;
		font-size: 3em;
		line-height: 95px;
	}
	.header {
	padding:0;
	}
	.main {
	margin-top: 50px;
	margin-bottom: 50px;
	}	
}







/*@media (min-width: 1275px) {
	.header {
		background-color: #0f7bff;
	}
	.menu {
		left: 620px;
	}
	.features {
		height: 600px;
	}
	.flexContainer {
		height: 600px;
	}
	.flexElement {
		height: 300px;
	}
}

@media (max-width: 1200px) {
	.header {
	height: 550px;
	}
	.signUp {
		top: 26px;
		right: 20px;
		width: 140px;
		height: 39px;
		line-height: 36px;
	}
	.button {
	border-radius: 52px;
	width: 138px;
	height: 37px;
	line-height: 32px;
	}
	.elements {
		top: 80px;
	}
	.elements > p {
		padding-top: 10px;
	}
	.download, .freeTrial {
	top: 135px;	
	}
	.flexElement {
		height: 200px;
	}
	.pricing {
		width: 80%;
	}
}



@media (max-width: 1000px) {

	.logo {
	left: 105px;
	width: 135px;
	height: 70px;
	border-radius: 0 0 20px 20px;
	font-size: 24px;
	line-height: 65px;
	}
	
	.menu {
	right: 200px;
	}
	
	.menu li {
	line-height: 65px;
	}

	.menu li:not(:last-child) {
		margin-right: 25px;
	}
	
	.signUp {
		top: 10px;
		right: 10px;
		width: 120px;
		height: 33px;
		line-height: 28px;
	}
	.button {
	border-radius: 45px;
	width: 118px;
	height: 32px;
	line-height: 27px;
	}
	.elements {
		top: 60px;
	}
	.elements > p {
	padding: 8px 30px 8px;
	line-height: 1.5em;
	}
	.download, .freeTrial {
	top: 120px;	
	}
	.flexElement {
		height: 150px;
		margin: 0;
	}
	.flexElement:first-child {
		margin: 5%;
	}
}

@media (max-width: 950px) {
	.elements {
		top: 100px;
	}
	.elements > p {
		display: none;
	}
	.download, .freeTrial {
		top: 50px;
	}
}

@media (max-width: 800px) {
	.header {
		background: url(images/Homepage/Device1.png) no-repeat,
		linear-gradient(-45deg, #0f7bff, #f5fcfd, #f5fcfd);
		background-position: center bottom; 
		background-size:85% auto,
		cover;
	}
	.elements {
		top: 150px;
	}

	.menu {
		display: none;
	}
	.links {
		display: block;
	}
	.signUp {
		top: 16px;
	}
	.wrapper {
		width: 90%;
		margin:0 5%;
	}
	.flexContainer {
		flex-wrap: wrap;
	}
	.flexElement:nth-child(2) {
		margin-top: 0;
	}
	.how_work {
		height: 100vh;
		margin: 0;
		width: 100%;
	}
	.how_work_main {
		flex-direction: column;
	}
	.how_work_main hr {
		display: none;
	}
	.pricing {
		margin-left: 0;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.header {
		background-size: 90% auto, cover;
		height: 900px;
	}
	.logo {
		left: 10px;
	}

	.download, .freeTrial {
		top: 70px;
	}
	.flexContainer {
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.flexElement {
		width: 40%;
		height: 125px;
		margin: 5% 0 0 0;
		text-align: left;
	}
	.flexElement > img {
		margin-top: 2.5%;
		width: 10%;
		position: absolute;
	}
	.flexElement > p, .flexElement > h5 {
		margin-left: 25%;
	}
	.about_block {
		flex-direction: column;
	}

	.about_block:last-of-type img {
		order: -1;
	}
	.pricing {
		flex-direction: column;
		justify-content: space-between;
		height: 200vh;


	}
	.price_description {
		text-align: center;
		height: 40vh;
		width: 80%;
	}
	.kind_of_plan {
		height: 80vh;
		width: 80%;
	}
}
*/