* {
	margin: 0;
	padding: 0;
}

body {font-family: 'Quicksand', sans-serif !important;}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.wrapper {
	width: 70%;
	min-height: 100%;
	margin: auto;
}
.header {
	height: 100px;
	width: 100%;
	background-color: #f5fcfd;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 100px;
	padding-right: 100px;
	border-bottom: 1px solid #ababab;
}
.header a {
		text-decoration: none;
}
.header .wrapper {
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}


.header h2 {
	color: #0f7bff;
	font-weight: bold;
}
.header .wrapper {
	position: relative;
}

.menu {
	display: flex;
	justify-content: flex-end;

}

.menu a{
 	color: #ababab;
	font-weight: bold;
	padding-left: 45px;

}
.menu li:last-child {
	padding-right: 50px;
	
}
.menu a:hover {
	color: #0f7bff;
	cursor: pointer;
}
.signUp {
	width: 165px;
	height: 50px;
	background-color: #0f7bff;
	color: white;
	border-radius: 20%/50%;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	border: none;
}

.signUp:hover, .signUp_m-menu:hover, .button:hover {
	background-color: #fff;
	color: #0f7bff;
	cursor: pointer;
	border: 1px solid #ababab;
	transition: 0.3s;
}
.fa-bars {
	display: none;
	font-size: 2em;
}

	.m-menu {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	background-color: #f5fcfd;
	font-size: 2.5em;
	line-height: 2.5;
	z-index: 100;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 0;
	height: 100vh;
	transition: 0.2s;
	transform: translateX(100%);
	}
	.m-menu_active {
		transform: translateX(0);
	}
	.close_menu {
		position: fixed;
		right: 0;
		top: 0;
		font-size: 2em;
		font-weight: bold;
		line-height: 1;
		cursor: pointer;
	}

.underline_header {
	background-color: #f5fcfd;
	height: 40vh;
	font-weight: bold;
}
.underline_header .wrapper {
	display: flex;
	justify-content: space-between;
}
.header_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header_content h2 {
	font-weight: bold;
}
.header_img {
	background: url(../images/blog_img/header_img.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	background-position: 100% 50%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 50%;
}
.m-display {
	display: none;
}
.underline_header a {
	text-decoration: none;
	color: #ababab;
	cursor: pointer;
}
.underline_header a:hover {
	color: #0f7bff;
}
/*MAIN BLOCK*/

.articles {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 130px;
}
.articles a {
	color: #ababab;
	font-weight: bold;
	text-decoration: none;
}
.articles a:hover {
	color: #0f7bff;
}
.left_side {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	height: 100%;
	width: 65%;

}

/*LEFT SIDE*/

.main_img {
	height: 330px;
	background: url(../images/blog_details/article_img.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    border-radius: 0.5%/1%;
}
.description_article > div{
	color: #ababab;
	display: inline-block;
	padding-right: 50px;
	line-height: 3em;
}
.likes {
	padding-left: 50px;
}
.text_article {
	color: #ababab;
	padding-bottom: 50px;
}
.quote_text {
	color: black;
	position: relative;
	margin-top: 40px;
	padding: 40px 100px;
}
.quote {
	position: absolute;
	top:0;
	left: 0;
}
.tags_socials {
	padding-top: 40px;
	border-top: 1px solid #ababab;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.tags_article .tags {
	color: #0f7bff;
	border-color: #0f7bff;
	background-color: #fff;
	margin-left: 10px;
	margin-top: 0;
}
.share_social {
	line-height: 36px;
}
.share_social .fab {
	color: #ababab;
}
.share_social .fab:first-child {
	margin-left: 10px;
}
.buttons {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ababab;
}
.button {
	border-radius: 60px;
	text-align: center;
	background-color: #fff;
	color: #0f7bff;
	font-weight: bold;
	width: 158px;
	height: 43px;
	line-height: 39px;
	border: 2px solid #0f7bff;
	cursor: pointer;
	margin-right: 40px;
}
.button:hover {
	color: #fff;
	background-color: #0f7bff;
}
.comment_form {
	margin-top: 50px;
}
.comment_form h4 {
	margin-bottom: 30px;
}
.about_user {
	display: flex;
	justify-content: space-between;
}
.user_data {
	width: 48%;
	height: 60px;
	outline: none;
	border: 1px solid #ababab;
	border-radius: 5px;
	font-size: 1.25em;
	padding: 0px 20px;
	color: #ababab;
	margin-bottom: 30px;
}
.comment {
	width: 100%;
	height: 160px;
	color: #ababab;
	padding: 20px 20px;
	font-size: 1.25em;
	resize: none;
	outline: none;
	border: 1px solid #ababab;
	border-radius: 5px;
	margin-bottom: 30px;
}
.comment_form .button {
	margin-bottom: 130px;
	margin-right: 0;
	float:right;
}
input::-webkit-input-placeholder { color: #ababab; }
input::-moz-placeholder { color: #ababab; }

/*RIGHT SIDE*/
.right_side {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
}

.search_field {
	display: flex;
	width: 100%;
	height: 58px;
	overflow: hidden;
	border-radius: 10%/50%;
	border: 1px solid #ababab;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
}
.search_field input {
	width: 77%;
	height: 100%;
	outline: none;
	border: none;
	padding-left: 20px;
	font-size: 1.25em;
}
.mobile_search_field {
	display: none;
}
.button_part {
	height: 100%;
	width: 23%;
	background: url(../images/blog_img/search.png) no-repeat;
	background-position: center center;
	background-color: #0f7bff;
	cursor: pointer;
}
.resent_posts {
	min-height: 370px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	margin-top: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 40px 30px;
	border: 1px solid #ababab;
}
.resent_posts div:first-child h3{
	font-weight: bold;
	margin-bottom: 30px;
	color: #000;
}
.resent_content {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;

}
.resent_post_img img {
	border-radius: 5%;
}
.resent_text_content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 30px;
}
.resent_text_content p {
	color: #ababab;
	margin-bottom: 0;
}
.headline_article {
	color: black;
	font-weight: bold;
}
.headline_article:hover {
	color: #0f7bff;
	cursor: pointer;
}

.category_block {
	width: 100%;
	min-height: 325px;
	margin-top: 50px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border: 1px solid #ababab;
	padding: 40px 0 40px 8%;
}
.kind_of_category {
	color: #ababab;
	border-bottom: 1px solid #ababab;
	padding-top: 20px;
	padding-bottom: 10px;
}

.kind_of_category:last-child {
	border-bottom: none;
}
.kind_of_category:hover {
	color: #0f7bff;
	cursor: pointer;
}

.popular_tags {
	min-height: 245px;
	width: 100%;
	margin-top: 50px;
	border: 1px solid #ababab;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	padding: 40px 0 40px 8%;
}
.popular_tags_display {
	display: none;
}
.tags {
	color: #ababab;
	border: 1px solid #ababab;
	padding: 5px 10px;
	display: inline-block;
	border-radius: 20px;
	min-width: 55px;
	text-align: center;
	margin-top: 15px;
	margin-right: 10px;
}
.tags:hover {
	cursor: pointer;
	background-color: #0f7bff;
	color: #fff;
	border-color: #0f7bff;
}

/*FOOTER*/

.footer {
	height: 40vh;
	background-color: #f5fcfd;
}
.footer .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.appson_about {
	width: 40%;
	color: #ababab;
	height: 155px;
}
.links_lists {
	display: flex;
	justify-content: space-around;
	height: 155px;
	width: 42%;
}
.links_lists li{
	color: #ababab;
	line-height: 2em;
}
.links_lists li:hover {
	color: #0f7bff;
}
.appson_about h3 {
	color: #0f7bff;
}
.fab {
	padding-right: 10px;
}
.fab:hover, .links_list li:hover {
	cursor: pointer;
	color: #0f7bff;
}

/*COPYRIGHTS*/

.copyrights_bg {
	height: 15vh;
	background-color: #f5fcfd;
	border-top: 1px solid #ababab;
	color: #ababab;
	position: relative;
}
.copyrights_bg a{
	color: #ababab;
}
.copyrights {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyrights_links a{
	padding-right: 10px;
}

.scroll {
 position:absolute;
 cursor: pointer;
 right: 100px;
}


@media (min-width: 1001px) {
	.mobile-wrapper {
		width: 100%;
		display: flex;
	justify-content: space-between;
	}
}

@media (max-width: 1600px) {
	.articles.wrapper {
		width: 80%;
	}
}

@media (max-width: 1400px) {
	.articles.wrapper {
		width: 85%;
	}
	.right_side {
		width: 35%;
	}
	.left_side {
		width: 60%;
	}
	.resent_text_content {
    width: 60%;
    padding-left: 20px;
}

@media (max-width: 1200px) {
	.scroll {
		position: static;
	}
	.resent_text_content {
    width: 100%;
    padding-left: 20px;
	}
	.main_img {
    height: 270px;
	}
}

@media (max-width: 1100px) {
	.footer .wrapper,
	.copyrights.wrapper {
		width: 90%;
	}
	.appson_about {
	width: 45%;
	color: #ababab;
	height: 155px;
	}
	.links_lists {
	width: 50%;
	}
	.resent_content {
    align-items: center;
	}
	.main_img {
    height: 240px;
	}
}
@media (max-width: 1000px) {
	.header .wrapper, .signUp {
		display: none;
	}
	.mobile-wrapper {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	}
	.fa-bars {
		display: block;
		color: #0f7bff;
		cursor: pointer;
	}
	.header {
	padding:0;
	}	
}

@media (max-width: 900px) {
	.footer  {

		padding-top: 20px;
	}
	.links_lists {
		display: none;
	}
	.appson_about {
	width: 100%;
	color: #ababab;
	height: 175px;
	}
	.appson_about .socials {
		display: flex;
		justify-content: flex-end;
		margin-bottom: 30px;
	}
	.copyrights_bg {
	height: 150px;
	}
	.copyrights_links {
		display: flex;
		flex-direction: column;
	}
	.copyrights_text {
		width: 50%;
	}
	.copyrights.wrapper {
		width: 95%;
	}
	.articles.wrapper {
		flex-direction: column;
	}
	.left_side {
		width: 100%;
		position: relative;
	}
	.right_side {
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	.popular_tags {
		display: none;
	}
	.resent_posts, .category_block {
		width: 45%;
	}
	.comment_form .button {
		margin-bottom: 0;
	}
	.popular_tags.popular_tags_display {
		display: block;
		margin-bottom: 60px;
	}
	.search_field {
		display: none;
	}
	.mobile_search_field {
		display: flex;
    	position: absolute;
    	left: 0;
    	top: -100px;
	}
	.mobile_search_field {
		width: 300px;
	}
	.mobile_search_field input {
		width: 260px;
	}
	.mobile_search_field .button_part {
		width: 100%;
	}
}
@media (max-width: 800px) {
	.main_img {
    height: 280px;
	}
}
@media (max-width: 700px) {
	.right_side {
		flex-direction: column;
		align-items: center;
	}
	.resent_posts, .category_block {
		width: 70%;
	}
	.main_img {
    height: 250px;
	}
}
@media (max-width: 600px) {
	.footer {
		height: 100px;
	}
	.footer .wrapper {
		display: flex;
		justify-content: space-between;
	}
	.appson_about {
		height: 100%;
	}
	.appson_about p {
		display: none;
	}
	.main_img {
    height: 200px;
	}
}

@media (max-width: 500px) {
	.m-hidden {
		display: none;
	}
	.scroll {
		display: none;
	}
	.header_content {
		width: 100%;
		align-items: center;
	}
	.underline_header {
		height: 20vh;
	}
	.header_content p{
		display: none;
	}
	.header_img {
		display: none;
	}
	.m-display {
		display: flex;
		justify-content: space-around;
		margin-top: 30px;
	}
	.underline_header .wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.resent_posts, .category_block {
		width: 95%;
	}
	.likes {
    padding-left: 0;
	}
	.description_article > div {
    padding-right: 15px;
	}
	.quote_text {
    padding: 50px 40px;
	}
	.main_img {
    height: 130px;
	}
}
@media (max-width: 400px) {
	.share_social {
    margin-top: 10px;
	}
	.tags_socials {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; 
	}
	.buttons {
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 40px;
	}
	.button {
    margin-right: 0;
    width: 45%;
	}
	.underline_header .wrapper {
    width: 95%;
}

